:root {
    --main-bg-color:#a11d06f1;
    --center: center;
    --absolute: absolute;
    --hidden: hidden;
    --relative: relative;
  }
*{
    font-family: sans-serif;
    -webkit-box-pack: var(--center);
    -webkit-justify-content: var(--center);
    -ms-flex-pack: var(--center);
    justify-content: var(--center);
    align-items: var(--center);
    -webkit-box-align: var(--center);
    -webkit-align-items: var(--center);
    -ms-flex-align: var(--center);
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(banner.gif);
    background-position:var(--center);
    background-size: cover;
    position: absolute;
    display: flex;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: var(--center);
    -webkit-box-pack: var(--center);
    -webkit-justify-content: var(--center);
    -ms-flex-pack: var(--center);
    align-items: var(--center);
    -webkit-box-align: var(--center);
    -webkit-align-items: var(--center);
    -ms-flex-align: var(--center);
}
.form-box{
    width: 350px;
    height: 600px;
    position: var(--relative);
    margin: 4% auto;
    background-image: url(23444.jpg);
    background-position: center;
    padding: 10px;
    overflow: var(--hidden);
    border-radius: 40px;
}

.button-box{
    width: 220px;
    margin: 180px auto;
    position: var(--relative);
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 32px;
    color: #ffffff;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: var(--relative);
}
#btn{
    position: var(--absolute);
    width: 50%;
    height: 100%;
    background: var(--main-bg-color);
    border-radius: 30px;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}
::placeholder {
  color: rgb(236, 236, 240);
  font-size: 1.2em;
}
.input-group{
    top:250px;
    position: var(--absolute);
    width: 70%;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}
.input-field{
    width: 100%;
    padding: 6px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 100%;
    padding: 10px 0px;
    cursor: pointer;
    display: block;
    margin: 30px 10px 0;
    background: var(--main-bg-color);
    border: 0;
    outline: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #ffffff;
}
.check-box{
    margin: 25px 10px 0;
    display: inline-block;
}
span{
    color: rgb(255, 255, 255);
    transform: translateY(100%);
    position: var(--absolute);
}
.check-box1{
    margin: 25px 10px 0;
    display: inline-block;
}
span1{
    color: rgb(255, 255, 255);
    transform: translateY(45%);
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}

.social-icons{
    margin: 870px auto;
    text-align: var(--center);
}
.social-icons img{
    width: 48px;
    margin: 12px;
    cursor: pointer;
    border-radius: 50%;
}
.logo{
  margin: -400px auto;
  text-align: center;
}
.logo img{
  width: 60px;
  margin: 0 20px;
  border-radius: 50%;
  border-bottom: 3px solid rgb(7, 7, 7);
  border-top: 4px solid rgb(7, 7, 7);
}
.style-1{
    width: 300px;
    margin: -360px 30px;
    color:var(--main-bg-color);
}
.style-2{
    width: 300px;
    margin: -425px 30px;
    color: var(--main-bg-color);
}
.class-icon{
    position: absolute;
    top: 50%;
    transform: translateY(350%);
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: var(--center);
    -webkit-justify-content: var(--center);
    -ms-flex-pack: var(--center);
    justify-content: var(--center);
    text-align: var(--center);
  }
  .btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px 13px 12px 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #ffffff;
    background: var(--main-bg-color);
    overflow: var(--hidden);
    position: var(--relative);
  }
  .btn i{
    line-height: 40px;
    font-size: 26px;
    transition: 0.3s linear;
  }
  .btn:hover i{
    transform: scale(1.3);
    color: #477e31;
  }